@model Usuario
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body>

    @*------ GOOGLEAR ====> form bootstrap 5 ----------------*@
    
    <div class="container-fluid">
    <div class="row mt-5">
        <div class="col-sm-4 offset-sm-4" >
            <div class="col-md-9 col-lg-6 col-xl-5" >
                <img src="~/img/add-user.png"
                    class="img-fluid" alt="Sample image">
            </div>
            <hr />
            <form asp-action="Registrar" id="frmRegistro">
                <h4>Registro</h4>
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group">
                    <label asp-for="Nombre" class="control-label"></label>
                    <input asp-for="Nombre" class="form-control" required placeholder="Nombre" />
                    <span asp-validation-for="Nombre" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Correo" class="control-label"></label>
                    <input type="email" asp-for="Correo" class="form-control" required placeholder="Correo electrónico" />
                    <span asp-validation-for="Correo" class="text-danger"></span>
                </div>


                <div class="form-group">
                    <label asp-for="Clave" class="control-label"></label>
                    <input type="password" asp-for="Clave" class="form-control" required placeholder="Contraseña" />
                    <span asp-validation-for="Clave" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Roles" class="control-label"></label>
                    <select asp-for="Roles" class="form-control" id="exampleFormControlSelect1">
                      <option>Visitante</option>
                    </select>
                    <span asp-validation-for="Roles" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input type="submit" value="Registrarme" class="btn btn-primary" />
                     <a asp-action="Index" class="btn btn-link">Regresar</a>
                </div>
            </form>
        </div>
    </div>
    </div>

</body>
   <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</html>